# KCONFIG_GROUP: Solution & Product
menu "AVDK NN Module"

	config TFLM_PERSON_DETECTION_GRAY
		depends on TFLITE_MICRO
		bool "Use tflm person detection gray model with NV12 MP input"
		default n

	config TFLM_PERSON_DETECTION_RGB
		depends on TFLITE_MICRO
		bool "Use tflm person detection RGB model with BGRA MP input"
		default n

	config TFLM_FACE_DETECTION
		depends on TFLITE_MICRO
		depends on NPU
		bool "Use tflm face detection model with ISP SP input"
		default n

endmenu
