#
# Project default config for BK7259 ipc CP side.
# Based on doorbell_lp AP-powerdown keepalive, with ipc CP requirements retained.
#

CONFIG_CONTROLLER_AP_BUFFER_COPY=y

CONFIG_SOC_SMP=n
CONFIG_FREERTOS_V10=y
CONFIG_FREERTOS_SMP=n

# Platform config.
CONFIG_SLAVE_HEART_BEAT=n
CONFIG_DUMP_ENABLE=y
CONFIG_CP_HANG_DUMP_BY_AP=y
CONFIG_MEMDUMP_ALL=y
CONFIG_PSRAM=y
CONFIG_PSRAM_AS_SYS_MEMORY=n
CONFIG_HSPL_LEAK_DEBUG=y
CONFIG_SPINLOCK_DYNAMIC_CNT=512
CONFIG_SPINLOCK_STATIC_CNT=128
CONFIG_AEC_RUN_ON_M52=n

# PM config.
CONFIG_FREERTOS_USE_TICKLESS_IDLE=2
CONFIG_PM_AP_POWERDOWN_WHEN_LV=y
CONFIG_PM_ONLY_CP_ENABLE=y
CONFIG_DEEP_LV=y
CONFIG_DEEP_LV_DEBUG_GPIO=y
CONFIG_DEEP_LV_DEBUG_LOG=y
CONFIG_AON_LDO_SEL=2
CONFIG_AON_RTC=y
CONFIG_GPIO_WAKEUP_SUPPORT=y
CONFIG_GPIO_DYNAMIC_WAKEUP_SUPPORT=y

# Wi-Fi config.
CONFIG_STA_PS=y

# Bluetooth config.
CONFIG_BLUETOOTH_BLE_SLAVE_ONLY=y
CONFIG_BLUETOOTH_SUPPORT_LPO_ROSC=y
CONFIG_BLE_LV_SUPPORT=y
CONFIG_BTDM_CONTROLLER_ONLY=n
CONFIG_BLUETOOTH_SUPPORT_AP_PWD_ALL=y
